.terraform
.terraform.*
.env
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
security_scanner.pem
*.pem
infrastructure/terraform/security_scanner.pem
.venv
node_modules/
__pycache__/
juice-shop-critical-findings.json
juice-shop/